.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
  height: 64px;
  line-height: 64px;
  width: 100%;
  background-color: #102027;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  z-index: 1000;
}

.nav-bar a, .nav-bar button {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0 16px 0 16px;
  font-family: Roboto-Bold;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  vertical-align: middle;
}

/*.nav-bar #toggleTable {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  height: 64px;
  line-height: 64px;
  vertical-align: top;
  cursor: pointer;
}*/

.nav-bar a:hover, .nav-bar button:hover {
  background-color: #263238;
}

.nav-bar a.active {
  text-shadow: 0 0 25px white;
}

.github {
  float: right;
}

.github svg {
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

#search-wrap {
  display: inline-block;
  position: relative;
  margin-left: 16px;
}

#search-wrap .material-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  line-height: 36px;
  text-align: center;
  background-color: #102027;
  border: 1px solid white;
  border-radius: 4px 0 0 4px;
  pointer-events: none;
}

#search {
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  height: 36px;
  line-height: 36px;
  padding: 0 8px 0 44px;
  outline: none;
}

#search:active, #search:focus {
  background-color: white;
  color: black;
}
