html
  head
    title Worth PoE
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Not Ready
    p Prices haven't been fetched yet, or page hasn't been rendered. Wait a few seconds then refresh.
