html
  head
    title Worth PoE
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Trade Error
    p Couldn't generate the link to the trade. It's most likely due to sending too many request to the trade API. You can make the search yourself or wait 1 min.
